## jupyter-notebooks coursera file submission

#### By Aaron Segura

# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
(see above)

## Introduction - Exercise 3 - Create a markdown cell for an introduction. (1 pt)

This is a markdown cell for an introduction. Here is the introduction:
    
In this assignment, we will explore the process of creating and sharing a Jupyter Notebook. Jupyter Notebooks are powerful tools that combine code execution, data visualization, and rich text elements, making them ideal for data analysis, machine learning, and research documentation. Throughout this assignment, we will learn how to create a notebook, format content using Markdown cells, and share our work with others. By the end of this exercise, we will have a solid understanding of the key features of Jupyter Notebooks and how they can enhance our data science workflow.

## Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Java
- Julia
- MATLAB
- Python
- R
- SAS
- Scala
- SQL

# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

In data science, a variety of libraries are used to handle data manipulation, visualization, machine learning, and statistical analysis. These libraries are available in different programming languages, each catering to specific needs and workflows. Below are some of the most commonly used data science libraries, organized alphabetically within each language.

### Python

- Keras
- Matplotlib
- NumPy
- pandas
- PyTorch
- scikit-learn
- SciPy
- Seaborn
- Statsmodels
- TensorFlow

### R

- caret
- data.table
- dplyr
- ggplot2
- lubridate
- plotly
- randomForest
- shiny
- stringr
- tidyr

### Julia

- DataFrames.jl
- DifferentialEquations.jl
- Distributions.jl
- Flux.jl
- Gadfly.jl
- JuMP.jl
- MLJ.jl
- Plots.jl
- StatsBase.jl
- Turing.jl

### MATLAB

- Deep Learning Toolbox
- Image Processing Toolbox
- Optimization Toolbox
- Signal Processing Toolbox
- Statistics and Machine Learning Toolbox

# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools         |                                                 |
|----------------------------|-------------------------------------------------
| --Tool Category--          | --Tools--                                       |
| **Programming Languages**  | Python, R, SQL, Julia, SAS, MATLAB, Scala, Java |
| **Data Manipulation**      | pandas, dplyr, DataFrames.jl                    |
| **Data Visualization**     | Matplotlib, ggplot2, Seaborn, Plotly, Gadfly.jl |
| **Machine Learning**       | scikit-learn, TensorFlow, Keras, PyTorch, MLJ.jl|
| **Statistical Analysis**   | Statsmodels, R's stats package, SAS             |
| **Big Data Technologies**  | Apache Spark, Hadoop                            |
| **Interactive Computing**  | Jupyter Notebook, RStudio                       |
| **Database Management**    | MySQL, PostgreSQL, SQLite, MongoDB              |
| **Version Control**        | Git, GitHub, GitLab                             |
| **Deployment and Integration** | Docker, Kubernetes, Flask, Shiny             |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
Basic examples of arithmetic expressions:

1. **Addition (+)**
   - `5 + 3 = 8`
   - Adds two numbers.

2. **Subtraction (-)**
   - `10 - 4 = 6`
   - Subtracts the second number from the first.

3. **Multiplication (*)**
   - `7 * 2 = 14`
   - Multiplies two numbers.

4. **Division (/ or //)**
   - `20 / 4 = 5`
   - Divides the first number by the second.

5. **Exponentiation (**)**
   - `2 ** 3 = 8`
   - Raises the first number to the power of the second.

6. **Modulo (%)**
   - `15 % 4 = 3`
   - Returns the remainder of the division of the first number by the second.

# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

### Multiplication

In [7]:
6 * 4

24

### Addition

In [8]:
6 + 4

10

# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [9]:
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example - 157 minutes to hours
minutes = 157
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is {hours} hours")

157 minutes is 2.6166666666666667 hours

# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

## Objectives for this Assignment

Your grade will be based on the following exercises:

1. **Exercise 2** - Create a markdown cell with the title of the notebook. (1 pt)

2. **Exercise 3** - Create a markdown cell for an introduction. (1 pt)

3. **Exercise 4** - Create a markdown cell to list data science languages. (3 pts)

4. **Exercise 5** - Create a markdown cell to list data science libraries. (3 pts)

5. **Exercise 6** - Create a markdown cell with a table of Data Science tools. (3 pts)

6. **Exercise 7** - Create a markdown cell introducing arithmetic expression examples. (1 pt)

7. **Exercise 8** - Create a code cell to multiply and add numbers. (2 pts)

8. **Exercise 9** - Create a code cell to convert minutes to hours. (2 pts)

9. **Exercise 10** - Insert a markdown cell to list Objectives. (3 pts)

10. **Exercise 11** - Create a markdown cell to indicate the Author’s name. (2 pts)

11. **Exercise 12** - Share your notebook through GitHub (3 pts)

12. **Exercise 13** - Take a screenshot of the first page of the notebook. (1 pt)

# Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

# Aaron Segura

Other exercise objectives:

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)